<!DOCTYPE html>
<!--The code is modified from : https://gist.github.com/phil-pedruco/10447085-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Coefficient de Gini</title>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="../static/chroniton.js"></script>
     <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.8.0/d3-legend.min.js"></script>

</head>

<body>
<p id="report"></p>
<div id="map"></div>
<div id="legend"></div>
<div id="slider">

</body>
<script type="text/javascript">
    var h = 500,
        w = 960;
    // set-up unit projection and path
    var projection = d3.geo.mercator()
            .scale(1)
            .translate([0, 0]);

    var path = d3.geo.path()
            .projection(projection);

    // set-up svg canvas
    var svg = d3.select("#map").append("svg")
            .attr("height", h)
            .attr("width", w)
            ;

    var showValue="";

var g = svg.append("g");
    // zoom and pan
 var zoom = d3.behavior.zoom()
     .on("zoom",function() {
         g.attr("transform","translate("+
             d3.event.translate.join(",")+")scale("+d3.event.scale+")");
         g.selectAll("path")
             .attr("d", path.projection(projection));
   });

   svg.call(zoom)


    var color = d3.scale.linear()
            .range(["green", "red"]);

    var linear = d3.scale.linear()
            .range(["green", "red"]);

    var startYear = "1982";

    var record=[];

    function getColor(data){
                          var value=-1;
                          record.forEach(function(d){
                              if(data.name === d.key ){
                                  value = d.value;
                                  return;
                          }
                          });
                          if(value==-1){
                              return "none";
                          }
                          return color(value);
                      }



                      d3.select("#slider")
                                    .call(
                                      chroniton()
                                       .labelFormat(d3.time.format('%Y'))
                                        .domain([new Date(startYear), new Date("2013")])
                                        .width(600)
                                        .on('change', function(date) {
                                         var newYear = Math.ceil((date.getFullYear()));
                                          //if (newYear != showValue) {
                                             showValue = newYear;
                                             update();
                                             svg.selectAll("path").style("fill", getColor);
                                             record=[];

                                    //}
                                  })
                                  .playButton(true)
                                  .playbackRate(0.2)
                                  .loop(true)
                              );
  function addRecord(d){
            if (d[showValue]!=0){
              d[showValue]=+d[showValue];
                var obj = {key: d.countries, value: d[showValue]};
                record.push(obj);
                return d;
                    }
                  }

function update(){


d3.csv("../data/1-bis-gini.csv", addRecord, function(error,dataGini){

          color.domain(d3.extent(dataGini, function(d){
            return d[showValue];
          }));
          linear.domain(d3.extent(dataGini, function(d){
            return d[showValue];
          }));

  console.log(record);

    //https://github.com/johan/world.geo.json
    d3.json("../data/countries.geo.json", function(error, data) {

        d3.csv("../data/idCountry.csv", function(error, csv) {

            var world = data.features;

            csv.forEach(function(d, i) {
                world.forEach(function(e, j) {
                    if (d.id === e.id) {
                        e.name = d.name
                    }
                })
            })

       g.selectAll("path")
      .data(world)
      .enter()
      .append("path")
      .style("fill", getColor)
      .style("stroke", "grey")
      .style("stroke-width", "1px")
      .attr("d", path)
      .attr('record', function() {return record; })
      .on("mouseover", function(d, i) {
          reporter(d);
      });
});

            // calculate bounds, scale and transform
            // see http://stackoverflow.com/questions/14492284/center-a-map-in-d3-given-a-geojson-object
            var b = path.bounds(data),
                    s = .95 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h),
                    t = [(w - s * (b[1][0] + b[0][0])) / 2, (h - s * (b[1][1] + b[0][1])) / 2];

            projection.scale(s)
                    .translate(t);

        svg.append("g")
                .attr("class", "legendLinear")
                .attr("transform", "translate(20,20)");

        var legendLinear = d3.legend.color()
                .shapeWidth(60)
                .scale(linear);

        svg.select(".legendLinear")
                .call(legendLinear);

        function reporter(x) {
            var value = "Not known";
            record.forEach(function(d){
                if(x.name === d.key && d.value!=0 ){
                    value = d.value;
                    return ;
                }
            });

            d3.select("#report").text(function() {
                return x.name+": "+value + " year :"+ showValue;
            });

        }

            }) //data countries

  }); //gini

}//update





</script>

</html>
